<!DOCTYPE html>
<html>
    <head>
        <title>Instagram Scraper</title>
        <!--<link rel="shortcut icon" type="image/png" href="/public/assets/favicon.png">-->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <link rel="stylesheet" href="/public/detail.css">
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    </head>
    <body>
        <div class="vertical-center">
            <div class="container img-container">
                <h6>Hashtag: <%=hashtag%></h6>
                <h6>Count: <%=count%></h6>
                <div class="flex">
                    <% nodes.forEach(node => { %>
                        <img src="<%=node.thumbnail_src%>" class="mr-auto">
                    <% }) %>
                </div>
            </div>
        </div>
    </body>
</html>