<!DOCTYPE html>
<html>
    <head>
        <title>Instagram Scraper</title>
        <!--<link rel="shortcut icon" type="image/png" href="/public/assets/favicon.png">-->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <link rel="stylesheet" href="/public/home.css">
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    </head>
    <body>
        <div class="vertical-center">
            <div class="container">
                <div class="card">
                    <div class="card-body">
                        <h1 class="card-title">Welcome!</h1>
                        <h4>Enter parameters and submit to begin.</h4>
                        <form method="post">
                            <div class="d-block">
                                <label class="hashtag">Hashtag:</label>
                                <input name="hashtag" placeholder="boilerup" required>
                            </div>
                            <div class="d-block">
                                <label>Number of images:</label>                    
                                <input name="count" placeholder="100" required>
                            </div>
                            <button type="submit" name="button" value="view" class="submit-btn d-block btn btn-primary">View</button>
                            <button type="submit" name="button" value="download" class="submit-btn d-block btn btn-primary">Download</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>