body {
    text-align: center;
}

img {
    cursor: pointer;
    width: 250px;
    height: 250px;
    padding: 5px;
    margin: 0;
}

img:hover, .stats:hover{
    filter:  brightness(80%)
}

.vertical-center {
    min-height: 100%;
    min-height: 100vh;
    display: flex;
    align-items: center;
}

.img-container {
    max-width: 800px;
}

.card {
    display: inline-flex;
    cursor: pointer;
    width: 250px;
    height: 250px;
    padding: 5px;
    margin: 0;
}
.stats {
    display: none;
    overflow: scroll;
}

.btn {
    margin-bottom: 10px;
}
